.container {
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    margin: 40px 0 0 0;
}

.description {
    font-weight: 400;
    font-size: 16px;
    width: 566px;
}


@media only screen and (max-width: 450px) {
    .title {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }
}

@media only screen and (max-width: 570px) {
    .description {
        width: 100%;
    }
}
